<a href="https://colab.research.google.com/github/FatmaNjaah88/FatmaNjaah88/blob/main/Copy_of_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loops

In [ ]:
# Exercise 1: Print Numbers 1 to 10

In [2]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Exercise 2: Sum of Numbers 1 to 100

In [1]:
sum=0;
for i in range(1,101):
  sum+=(i);
print(sum);

5050

In [ ]:
# Exercise 3: Multiplication Table

In [5]:
for i in range(1,13):
  for j in range(i,13):
    print(f"{i} * {j} = {i*j}");
  print();

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
1 * 11 = 11
1 * 12 = 12

2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
2 * 11 = 22
2 * 12 = 24

3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
3 * 11 = 33
3 * 12 = 36

4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
4 * 11 = 44
4 * 12 = 48

5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60

6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
6 * 11 = 66
6 * 12 = 72

7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
7 * 11 = 77
7 * 12 = 84

8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
8 * 11 = 88
8 * 12 = 96

9 * 9 = 81
9 * 10 = 90
9 * 11 = 99
9 * 12 = 108

10 * 10 = 100
10 * 11 = 110
10 * 12 = 120

11 * 11 = 121
11 * 12 = 132

12 * 12 = 144

In [ ]:
# Exercise 4: Print Each Character in a String

In [6]:
s="My name is Tomee";
for ch in s:
  print(ch);

M
y

n
a
m
e

i
s

T
o
m
e
e

In [ ]:
# Exercise 5: List Elements

In [7]:
fruits=["Apple","Banana","Orange"];
for fruit in fruits:
  print(fruit);

Apple
Banana
Orange

In [ ]:
# Exercise 6: While Loop Countdown

In [8]:
x=8;
while x>0:
  print(x);
  x-=1;

8
7
6
5
4
3
2
1

In [ ]:
# Exercise 7: Sum of Even Numbers 1 to 50

In [11]:
sumEven=0;
for i in range(1,51):
  if i%2==0:
     sumEven+=i;

print(sumEven);



#another solution
# sumEven=0;
# for i in range(2,51,2):
#   sumEven+=i;

# print(sumEven);

650

In [ ]:
# Exercise 8: Break in Loop

In [12]:
for i in range(8):
  if i==5:
    break;
  print(i);

0
1
2
3
4

In [ ]:
# Exercise 9: Continue in Loop

In [14]:
for i in range(9):
  if i==5:
    continue;
  print(i);

0
1
2
3
4
6
7
8

In [ ]:
# Exercise 10: Nested Loops (Multiplication Table)

In [15]:
for i in range(1,13):
  for j in range(i,13):
    print(f"{i} * {j} = {i*j}");
  print();

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
1 * 11 = 11
1 * 12 = 12

2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
2 * 11 = 22
2 * 12 = 24

3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
3 * 11 = 33
3 * 12 = 36

4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
4 * 11 = 44
4 * 12 = 48

5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60

6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
6 * 11 = 66
6 * 12 = 72

7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
7 * 11 = 77
7 * 12 = 84

8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
8 * 11 = 88
8 * 12 = 96

9 * 9 = 81
9 * 10 = 90
9 * 11 = 99
9 * 12 = 108

10 * 10 = 100
10 * 11 = 110
10 * 12 = 120

11 * 11 = 121
11 * 12 = 132

12 * 12 = 144

In [ ]:
# Exercise 11: Factorial of a Number

In [17]:
n=5;
fact=1;
while n>0:
  fact*=n;
  n-=1;

print(fact);

120

In [ ]:
# Exercise 12: Fibonacci Sequence

In [19]:
fib1=0;
fib2=1;
for i in range(9):
  print(fib1+fib2);
  temp=fib1;
  fib1=fib2;
  fib2=fib2+temp;

1
2
3
5
8
13
21
34
55

In [ ]:
# Exercise 13: Sum of Digits

In [21]:
n=1384;
sumDigit=0;
while n>0:
  sumDigit+=int(n%10);
  n/=10;
print(sumDigit);

16

In [ ]:
# Exercise 14: Prime Numbers Between 1 and 50

In [23]:
print(2);
for i in range(3,51):
  f=False;
  for j in range(2,i):# or to sqrt(i)
    if i%j==0:
      f=True;
      break;
  if(f==False):
    print(i);

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [ ]:
# Exercise 15: Reverse a String

In [24]:
s="Tomee";
l=len(s)-1;
while l>=0:
  print(s[l]);
  l-=1;

e
e
m
o
T