<a href="https://colab.research.google.com/github/FatmaNjaah88/FatmaNjaah88/blob/main/Copy_of_data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Types

In [ ]:
# Exercise 1: Identify Data Types
# Instructions:
# 1. Create variables of different types: integer, float, string, list, and boolean.
# 2. Print the type of each variable using the type() function.

In [5]:
x=8;
y=8.8;
s="tomee";
l=[1,2,3,4];
flag=True;
print(type(x));
print(type(y));
print(type(s));
print(type(l));
print(type(flag));

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'bool'>

In [ ]:
# Exercise 2: List Operations
# Instructions:
# 1. Create a list of your favorite fruits.
# 2. Add a new fruit to the list.
# 3. Remove a fruit from the list.
# 4. Print the updated list.

In [9]:
fruits=["Strawberry","Apple","Banana"];
fruits.append("Orange");
fruits.pop();#remove last element(orange)
fruits.remove("Apple");#remove specific element
print(fruits);

['Strawberry', 'Banana']

In [ ]:
# Exercise 3: Dictionary Operations
# Instructions:
# 1. Create a dictionary with keys "name", "age", and "city" and assign them values.
# 2. Add a new key-value pair to the dictionary.
# 3. Update the value of the "age" key.
# 4. Print the updated dictionary.

In [12]:
dic={"name":"tomee","age":19,"city":"mallawi"};
dic['type']="female";
dic["age"]=20;
print(dic);

{'name': 'tomee', 'age': 20, 'city': 'mallawi', 'type': 'female'}

In [ ]:

# Exercise 4: String Formatting
# Instructions:
# 1. Create variables `name`, `age`, and `city` and assign them values.
# 2. Use an f-string to print a sentence that includes these variables.

In [13]:
name="tome";
age=20;
city="mallawi";
print(f"Name : {name} , Age : {age} , City : {city}");

Name : tome , Age : 20 , City : mallawi

In [ ]:
# Exercise 5: Tuple Unpacking
# Instructions:
# 1. Create a tuple with three elements: your name, your age, and your favorite color.
# 2. Unpack the tuple into three variables.
# 3. Print each variable.

In [14]:
t=("tomee",20,"mallawi");
(name,age,city)=t;
print(name);
print(age);
print(city);

tomee
20
mallawi

In [ ]:

# Exercise 6: Set Operations
# Instructions:
# 1. Create a set of your favorite numbers.
# 2. Add a new number to the set.
# 3. Remove a number from the set.
# 4. Print the updated set.

In [15]:
FavNums=[4,8,16];
FavNums.append(32);
FavNums.remove(4);
print(FavNums);

[8, 16, 32]

In [ ]:

# Exercise 7: Boolean Logic
# Instructions:
# 1. Create two boolean variables `is_student` and `is_employed`.
# 2. Use boolean logic to print whether you are a student or employed or both.

In [17]:
is_student=True;
is_employed=False;
print(f"She is student? {is_student}");
print(f"She is employed? {is_employed}");

She is student? True
She is employed? False

In [ ]:

# Exercise 8: Type Conversion
# Instructions:
# 1. Create a string variable that contains a number.
# 2. Convert the string to an integer.
# 3. Convert the integer to a float.
# 4. Print the original string, the integer, and the float.

In [18]:
s="234";
i=int(s);
f=float(i);
print(s);
print(i);
print(f);

234
234
234.0

In [ ]:
# Exercise 9: Complex Numbers
# Instructions:
# 1. Create a complex number.
# 2. Print its real and imaginary parts separately.

In [26]:
x=8+4j;
print(x.real);
print(x.imag);

8.0
4.0

In [ ]:
# Exercise 10: String Methods
# Instructions:
# 1. Create a string variable.
# 2. Use different string methods to transform the string and print the results.
# Convert to uppercase
# Capitalize the first letter
# Replace a substring

In [29]:
s="my name is tomee";
print(s.upper());
print(s.capitalize());
print(s.replace("tomee","fatoom"));

MY NAME IS TOMEE
My name is tomee
my name is fatoom