<a href="https://colab.research.google.com/github/FatmaNjaah88/FatmaNjaah88/blob/main/Copy_of_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Structures

In [ ]:
# Exercise 1: List Operations
# 1. Create a list of your favorite fruits.
# 2. Add a new fruit to the list.
# 3. Remove the first fruit from the list.
# 4. Print the final list.

In [3]:
fruits=["Apple","Strawberry","Banana"];
fruits.append("Orange");
fruits.remove(fruits[0]);
print(fruits);

['Strawberry', 'Banana', 'Orange']

In [ ]:
# Exercise 2: List Indexing
# 1. Create a list of your favorite colors.
# 2. Print the first and last color from the list.

In [8]:
colors=["Violet","Red","Green","Purple"];
print(f"{colors[0]}  , {colors[-1]}");

Violet  , Purple

In [ ]:
# Exercise 3: Tuple Operations
# 1. Create a tuple with your birth year, birth month, and birth day.
# 2. Print each element of the tuple.

In [6]:
birth_date=(2004,5,17);
for x in birth_date:
  print(x);

2004
5
17

In [ ]:
# Exercise 4: Tuple Immutability
# 1. Try changing the birth month in the tuple to a different month.
# 2. Print a message explaining why this operation is not allowed.

# birth_date[1] = 6  # Uncommenting this line will cause an error
print("Tuples are immutable, so you cannot change their elements.")

In [1]:
try:
  birth_date[1] = 6;
except :
  print("Tuples are immutable, so you cannot change their elements.");

Tuples are immutable, so you cannot change their elements.

In [ ]:
# Exercise 5: Dictionary Operations
# 1. Create a dictionary with keys "name", "age", and "city" and assign them appropriate values.
# 2. Add a new key-value pair for "favorite_color".
# 3. Update the "age" value.
# 4. Print the dictionary.

In [2]:
dic={"name":"Tomee","age":19,"city":"Minya"};
dic["favorite_color"]="Violet";
dic["age"]=20;
print(dic);

{'name': 'Tomee', 'age': 20, 'city': 'Minya', 'favorite_color': 'Violet'}

In [ ]:
# Exercise 6: Dictionary Key Access
# 1. Create a dictionary with your favorite movies and their release years.
# 2. Print the release year of your favorite movie.

In [7]:
favorite_movies={"John Wick":2014,"Deadpool":2016,"Game Nigh":2018,"Smile":2022};
print(favorite_movies["Smile"]);

2022

In [ ]:
# Exercise 7: Set Operations
# 1. Create a set of your favorite hobbies.
# 2. Add a new hobby to the set.
# 3. Remove a hobby from the set.
# 4. Print the final set.

In [9]:
favorite_hobbies={"Football","Squash","Drawing"};
favorite_hobbies.add("Tennis");
favorite_hobbies.remove("Drawing");
print(favorite_hobbies);

{'Squash', 'Football', 'Tennis'}

In [ ]:
# Exercise 8: Set Uniqueness
# 1. Create a set with duplicate items.
# 2. Print the set and explain what happens to the duplicates.

In [15]:
double={1,2,8,2,4,8};
print(double);
print("Sets do not allow duplicate values");

{8, 1, 2, 4}
Sets are used to store multiple items in a single variable.

In [ ]:
# Exercise 9: Nested Data Structures
# 1. Create a list of dictionaries, each representing a different person with keys "name" and "age".
# 2. Print the name and age of the second person in the list.

In [18]:
l=[{"name":"tomee","age":19},{"name":"soly","age":20}];
print(l[1])

{'name': 'soly', 'age': 20}

In [ ]:
# Exercise 10: Combining Data Structures
# 1. Create a dictionary where the keys are names of fruits and the values are lists of colors those fruits can have.
# 2. Print the colors of a specific fruit.

In [19]:
fruits={"Apple":"Red","Banana":"Yellow","Orange":"oeange"};
print(fruits["Apple"]);

Red