<a href="https://colab.research.google.com/github/FatmaNjaah88/FatmaNjaah88/blob/main/Copy_of_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions

In [ ]:
# Exercise 1: Function Definition and Calling
# Define a function named greet that takes a name as a parameter and prints "Hello, [name]!"

# Call the function with your name

In [1]:
def greet(name):
  print(f"Hello {name}");

greet("Tomee");

Hello Tomee

In [ ]:
# Exercise 2: Function with Return Value
# Define a function named add that takes two numbers as parameters and returns their sum

# Call the function with two numbers and print the result

In [2]:
def add(x,y):
  return x+y;

print(add(5,3));

8

In [ ]:
# Exercise 3: Function with Default Parameters
# Define a function named introduce that takes a name and an age with a default value of 10, and prints a message

# Call the function with and without the age parameter

In [3]:
def introduce(name,age=10):
  print(f"Your name is {name} ,  your age is {age}");

introduce("Tomee");

Your name is Tomee ,  your age is 10

In [ ]:
# Exercise 5: Function with Keyword Arguments
# Define a function named describe_pet that takes a pet's name and type as keyword arguments and prints a message

# Call the function with and without the pet_type argument

In [4]:
def describe_pet(name,type="Cat"):
  print(f"Your {type}'s name is {name}");

describe_pet("Bondog");

Your Cat's name is Bondog

In [ ]:
# Exercise 6: Function Returning Multiple Values
# Define a function named get_student_info that takes a student's name and grade, and returns both values

# Call the function and print the returned values

In [5]:
def get_student_info(name,grade):
  return name,grade;

print(get_student_info("Tomee",98));

('Tomee', 98)

In [ ]:
# Exercise 7: Recursive Function
# Define a recursive function named factorial that returns the factorial of a given number

# Call the function and print the result

In [7]:
def factorial(n):
  fact=1;
  while n>0:
    fact*=n;
    n-=1;
  return fact;

print(f"5! = {factorial(5)}");

5! = 120

In [ ]:
# Exercise 8: Lambda Functions
# Define a lambda function named double that takes a number and returns its double

# Call the lambda function and print the result

In [2]:
double=lambda n : n*2;
print(double(4));

8

In [ ]:
# Exercise 9: Higher-Order Functions
# Define a function named apply_function that takes a function and a value,
# and returns the result of applying the function to the value

# Call the function with the lambda function double and a value, then print the result

In [5]:
 def apply_function(double,n):
  return double(n);


print(apply_function(double,4))

8

In [ ]:
# Exercise 10: Functions with Lists
# Define a function named find_max that takes a list of numbers and returns the maximum value

# Call the function with a list of numbers and print the result

In [11]:
def find_max(l):
  return max(l);

l=[2,5,8,3,4];
print(find_max(l));

8